*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
    //user-select: none;
    /* 禁止用户鼠标在页面上选中文字/图片等 */
    -webkit-tap-highlight-color: transparent;
    /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    line-height: normal !important;
    //overflow-x: hidden;
    line-height: normal !important;

    &::-webkit-scrollbar {
        width: 0;
    }
}

::selection {
    background-color: $green-1;
    color: $grey-0;
    text-shadow: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

i,
button {
    outline: none;
}

input {
    box-sizing: border-box;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

[role="button"] {
    cursor: pointer;
    user-select: none;
}

/* element-plus */

// 修改 el-popover 框内大小
.el-popover {
    // border: 0 !important;
    padding: 0 !important;
    box-shadow: $shadow-0 !important;
    border-radius: $border-radius-0 !important;
}

// 修改箭头样式
.el-popper__arrow::before {
    border: 0 !important;
    box-shadow: -2px -2px 4px rgb(0, 0, 0, 0.06);
}
