/* 全局颜色 */
$grey-0: #ffffff;
$grey-1: #f7f7f7;
$grey-2: #f4f4f4;
$grey-3: #f0f0f0;
$grey-4: #e5e5e5;
$grey-5: #d9d9d9;
$grey-6: #bfbfbf;
$grey-7: #8c8c8c;
$grey-8: #707070;
$grey-9: #595959;
$grey-10: #262626;
$grey-11: #000000;

$green-0: #85e8c7;
$green-1: #4bd8aa;
$green-2: #37aa84;
$green-3: #0aa007;
$green-4: #065b02;

$orange-0: #ffb792;

$pink-0: #f98fa8;
