/* 
 * body
 */

$body-background-color: rgb(51, 51, 51);

/* 
 * admin-page 
 */

/* menu */

$admin-background-color: #2a2b3d;
$admin-menu-background-color: #252636;
$admin-menu-text-color: #d1d5db;
$admin-menu-active-text-color: #ffffff;
:export {
    adminMenuBackgroundColor: $admin-menu-background-color;
    adminMenuTextColor: $admin-menu-text-color;
    adminMenuActiveTextColor: $admin-menu-active-text-color;
}

/* top-bar */

$admin-top-bar-background-color: #6f6486;
$admin-top-bar-menu-hover-background-color: #5e4d81;
$admin-top-bar-menu-icon-color: #ffffff;
$admin-top-bar-logout-text-color: #d6cbcb;
$admin-top-bar-logout-hover-text-color: #ffffff;
$admin-top-bar-search-background-color: rgba(255, 255, 255, 0.2);
$admin-top-bar-search-focus-background-color: rgba(255, 255, 255, 0.4);
$admin-top-bar-search-input-background-color: rgba(255, 255, 255, 0.8);
$admin-top-bar-search-input-text-color: #6c757d;
$admin-top-bar-search-input-focus-background-color: #ffffff;
$admin-top-bar-search-icon-color: #371777;
$admin-top-bar-search-hover-icon-color: white;
$admin-top-bar-notice-icon-color: #d6cbcb;
$admin-top-bar-notice-hover-icon-color: #ffffff;

/* admin-window */
$admin-window-title-text-color: #cccdce;

/* loading */
$admin-loading-background-color: rgba(42, 43, 61, 0.8);
$admin-loading-stroke: #9084a8;

/* admin-article-release */
$admin-article-release-form-cover-upload-background-color: #252636;
$admin-article-release-form-cover-upload-border-color: #666262;
$admin-article-release-form-cover-upload-hover-border-color: #ffffff;
$admin-article-release-form-title-color: #d1d5db;
$admin-article-release-form-component-background-color: #ffffff;
